# Dependencies
node_modules/

# Build
dist/
build/

# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.git
.gitignore
README.md
